

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;

}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    position: absolute;
    top: 20%;
    right: 0;
    width: 30rem;
    height: 0;
    box-shadow: 0 0 700px 15px #ffffff;
    rotate: -30deg;
    z-index: -1;
}

.model1 {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.model {
    position: absolute;
    bottom: -80;
    right: -20%;
    width: 50%;
    height: auto;
    z-index: 1;
}